<footer class="bg-dark" style="height:80px;">
  <div class='container mt-5'>
  	<div class='row'>
    	<div class='mx-auto' style="text-align: center;margin-top:40px">
    		<p style="color:white;">CopyRight Infratop.inc</p>
    	</div>
    </div>
  </div>
</footer>
